<%- include('templates/navbar') %> 
    <section class="condiciones container">
        <h2>Términos y condiciones</h2>
        <div class="container-conds">
            <h3>Introducción</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste a ipsa nemo, quis, at quasi commodi ad accusamus illum consectetur eveniet aliquid? Nobis blanditiis molestias modi, qui aspernatur voluptates tempore.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga magni laborum vero voluptatibus quas qui nesciunt ullam? Repudiandae culpa maxime, voluptate harum ullam quisquam qui placeat eaque laboriosam? Dolor, tempore?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi possimus commodi cumque eveniet magni. Quidem sit velit illo voluptatem suscipit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptate officiis earum ab pariatur a debitis illo, nemo ex odio. Odit vel, eveniet voluptates nihil quam facilis recusandae obcaecati at inventore eum alias sequi deleniti aliquid, fugit provident! Vel, fugiat.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, modi!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem maxime sint aliquid commodi exercitationem eaque nesciunt natus laboriosam doloremque repellendus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur fuga sit, commodi doloremque error ea explicabo rerum incidunt quaerat! Cumque doloribus debitis perferendis iure aliquid. Qui labore voluptatem tempora! Aliquid praesentium pariatur ab quae officia qui autem asperiores iste inventore a! Possimus, iusto? Aliquid harum animi quae necessitatibus voluptatibus?</p>
        </div>
    </section>
<%- include('templates/footer') %> 