<%- include('templates/navbar') %>
    <section class="dudas">
        <div class="search-dudas">
            <h2>Encuentra las dudas que tienes en esta sección creada para ti</h2>
            <input class="search-input" type="search" placeholder="Ingresa una palabra clave">
        </div>
        <details>
            <summary class="summary">Nombre de la pregunta</summary>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nisi quibusdam tenetur consequatur repellendus debitis suscipit facilis a vero blanditiis.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, molestiae officiis nesciunt molestias hic, non illum ducimus pariatur, mollitia doloribus corporis suscipit repudiandae nulla. Assumenda, ullam ratione! Unde, nam eligendi!</p>
        </details>
        <details>
            <summary class="summary">Nombre de la pregunta</summary>
            <p >
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nisi quibusdam tenetur consequatur repellendus debitis suscipit facilis a vero blanditiis.
            </p>
        </details>
        <details>
            <summary class="summary">Nombre de la pregunta</summary>
            <p >
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nisi quibusdam tenetur consequatur repellendus debitis suscipit facilis a vero blanditiis.
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque nobis at ad iure quae possimus minus laboriosam dolore quidem aperiam!</p>
        </details>
        <details>
            <summary class="summary">Nombre de la pregunta</summary>
            <p >
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nisi quibusdam tenetur consequatur repellendus debitis suscipit facilis a vero blanditiis.
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum aliquam voluptatem veritatis architecto. Quis consequuntur corporis exercitationem sapiente amet hic, veritatis quibusdam quia consequatur vero quae beatae eveniet at ut adipisci consectetur nisi unde saepe est odio maiores explicabo perspiciatis.</p>
        </details>
    </section>

<%- include('templates/footer') %>