<%- include('templates/navbar') %> 
    <main class="container">
        <section class="slide-contenedor">
            <!-- <div class="slides">
                <div><img src="resources/img/Banner-warique 1.png" alt=""></div>
            </div> -->
            <div class="miSlider fade">
                <img src="resources/img/Banner-warique 1.png" alt="">
            </div>
            <div class="miSlider fade">
                <img src="resources/img/Banner-warique2 1.png" alt="">
            </div>
            <div class="miSlider fade">
                <img src="resources/img/banner.png" alt="">
            </div>
    
            <div class="direcciones">
                <div>
                    <a href="#" class="atras" onclick="avanzaSlide(-1)">&#10094;</a>
                </div>
                <div>
                    <a href="#" class="adelante" onclick="avanzaSlide(1)">&#10095;</a>
                </div>
                
            </div>
            <div class="barras">
                <span class="barra active" onclick="posicionSlide(1)"></span>
                <span class="barra" onclick="posicionSlide(2)"></span>
                <span class="barra" onclick="posicionSlide(3)"></span>
            </div>

        </section>
        <section class="cupon">
            <div class="cupon-slide">
                <a href=""><img src="resources/img/CUPON.png" alt=""></a>
                
            </div>
        </section>
    
        <section class="categorias">
            <div class="categoria-list">
                <button class="categoria bg-active" data-button="button1"><img src="resources/img/icon/emoji/hamburguer.png" alt=""> Hamburguesas</button>
                <button class="categoria" data-button="button2"><img src="resources/img/icon/emoji/pizza.png" alt=""> Pizza</button>
                <button class="categoria" data-button="button3"><img src="resources/img/icon/emoji/anticuchos.png" alt=""> Anticuchos</button>
                <button class="categoria" data-button="button4"><img src="resources/img/icon/emoji/chicharrones.png" alt=""> Chicharrones</button>
                <button class="categoria" data-button="button5"><img src="resources/img/icon/emoji/sopas.png" alt=""> Sopas</button>
                <button class="categoria" data-button="button6"><img src="resources/img/icon/emoji/tacos.png" alt=""> Tacos</button>
                <button class="categoria" data-button="button7"><img src="resources/img/icon/emoji/vegetariano.png" alt=""> Vegetariano</button>
                <button class="categoria" data-button="button8"><img src="resources/img/icon/emoji/pensador.png" alt=""> Más</button>
            </div>
        </section>
        <section class="cards">
            <div class="card hero-res">
                <img src="resources/img/cards/camiones_tips_negocio 1.png" alt="">
                <div class="data-text">
                    <h2>Nombre del negocio</h2>
                    <p>Direccion, Ciudad, Distrito(A 1km)</p>
                    <p>De 8:00 am - 6:00pm</p>
                </div>
            </div>
            <div class="card">
                <img src="resources/img/cards/camiones_tips_negocio 1.png" alt="">
                <div class="data-text">
                    <h2>Nombre del negocio</h2>
                    <p>Direccion, Ciudad, Distrito(A 1km)</p>
                    <p>De 8:00 am - 6:00pm</p>
                </div>
            </div>
            <div class="card">
                <img src="resources/img/cards/camiones_tips_negocio 1.png" alt="">
                <div class="data-text">
                    <h2>Nombre del negocio</h2>
                    <p>Direccion, Ciudad, Distrito(A 1km)</p>
                    <p>De 8:00 am - 6:00pm</p>
                </div>
            </div>
            <div class="card">
                <img src="resources/img/cards/camiones_tips_negocio 1.png" alt="">
                <div class="data-text">
                    <h2>Nombre del negocio</h2>
                    <p>Direccion, Ciudad, Distrito(A 1km)</p>
                    <p>De 8:00 am - 6:00pm</p>
                </div>
            </div><div class="card">
                <img src="resources/img/cards/camiones_tips_negocio 1.png" alt="">
                <div class="data-text">
                    <h2>Nombre del negocio</h2>
                    <p>Direccion, Ciudad, Distrito(A 1km)</p>
                    <p>De 8:00 am - 6:00pm</p>
                </div>
            </div>
            <div class="card">
                <img src="resources/img/cards/camiones_tips_negocio 1.png" alt="">
                <div class="data-text">
                    <h2>Nombre del negocio</h2>
                    <p>Direccion, Ciudad, Distrito(A 1km)</p>
                    <p>De 8:00 am - 6:00pm</p>
                </div>
            </div>
        </section>
    
    </main>
   
<%- include('templates/footer') %> 