<%- include('templates/navbar') %> 
<section class="register">
    <div class="container-rg">
        <form class="formulario">
            <label for="negocio">
                <input type="text" name="negocio" placeholder="Nombre del negocio">
            </label>
            
            <label for="nombre">
                <input type="text" name="nombre" placeholder="Nombre del representante">
            </label>
            
            <label for="correo">
                <input type="text" required name="correo" placeholder="Correo electrónico">
            </label>
            
            <label for="telefono">
                <input type="number" required name="telefono" placeholder="Teléfono">
            </label>
            <label for="comida">
                <input type="text" name="comida" placeholder="Tipo de comida">
            </label>
            <label for="departamento">
                <input type="text" name="departamento" placeholder="Departamento">
            </label>
            <label for="distrito">
                <input type="text" name="distrito" placeholder="Distrito">
            </label>
            <label for="direccion">
                <input type="text" name="direccion" placeholder="Dirección">
            </label>
        </form>
        <div class="registro-rq">
            <label for="politicas">
                <input type="checkbox">
                <span>He leído <a href="#">las politícas de privacidad</a></span>
            </label>
            <label for="publicidad">
                <input type="checkbox">
                <span>Autorizo que me envien publicidad y/o promociones</span>
            </label>
        </div>
        <div class="bnt-form">
            
            <button type="submit" class="submit-btn">Enviar solicitud</button>
        </div>
    </div>
    
    
</section>
<%- include('templates/footer') %> 