<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="resources/img/favicon.png" type="image/x-icon">
    <title>WARIQUES</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="resources/css/dudas.css">
    <link rel="stylesheet" href="resources/css/condiciones.css">
    <link rel="stylesheet" href="resources/css/registro.css">
</head>
<body>
    <header class="header">
        <div class="logo"><img src="resources/img/svg/logo.svg" alt=""></div>
        <div class="bg-navbar">
            
        </div>
        <nav class="navbar ">
            <div class="options-mobil">
                <button data-button="button5" class="menu-link active-options">Menu</button>
                <button data-button="button6" class="menu-link">Sabores</button>
            </div>
            <div class="option-m is-flex" id="button5">
                <ul class="items-nav lista-menu menu-sabores">
                    <a class="nav-link " href="/"><img src="resources/img/svg/tienda.svg" alt=""> Wariques</a>
                    <a class="nav-link" href="../dudas"><img src="resources/img/svg/dudas.svg" alt=""> Dudas</a>
                    <a class="nav-link" href="../condiciones"><img src="resources/img/svg/condiciones.svg" alt=""> Condiciones</a>
                </ul>   
                <ul class="items-nav lista-menu">
                    <a class="nav-link" href="../register"><img src="resources/img/svg/logout.svg" alt=""> Registrarme</a>
                    <a class="nav-link" href="../favoritos"><img src="resources/img/svg/favoritos.svg" alt=""> Favoritos</a>
                    <a class="nav-link" href="#"><img src="resources/img/svg/search.svg" alt=""></a>
                </ul>
            </div>
            <div class="option-m sabores" id="button6">
                <a class="sabor" href="">
                    <figure>
                        <img src="resources/img/icon/emoji/hamburguer.png" alt="">
                    </figure>
                    <h3>Hamburguer</h3>
                </a>
                <a class="sabor" href="">
                    <figure>
                        <img src="resources/img/icon/emoji/pizza.png" alt="">
                    </figure>
                    <h3>Pizza</h3>
                </a>
                <a class="sabor" href="">
                    <figure>
                        <img src="resources/img/icon/emoji/anticuchos.png" alt="">
                    </figure>
                    <h3>Anticuchos</h3>
                </a>
                <a class="sabor" href="">
                    <figure>
                        <img src="resources/img/icon/emoji/chicharrones.png" alt="">
                    </figure>
                    <h3>Chicharrones</h3>
                </a>
                <a class="sabor" href="">
                    <figure>
                        <img src="resources/img/icon/emoji/sopas.png" alt="">
                    </figure>
                    <h3>Sopas</h3>
                </a>
                <a class="sabor" href="">
                    <figure>
                        <img src="resources/img/icon/emoji/tacos.png" alt="">
                    </figure>
                    <h3>Tacos</h3>
                </a>
                <a class="sabor" href="">
                    <figure>
                        <img src="resources/img/icon/emoji/vegetariano.png" alt="">
                    </figure>
                    <h3>Vegetariano</h3>
                </a>
                <a class="sabor" href="">
                    <figure>
                        <img src="resources/img/icon/emoji/pensador.png" alt="">
                    </figure>
                    <h3>Más</h3>
                </a>
            </div>
            
        </nav>
        
        <div class="btn-menu"><img src="resources/img/svg/menu.svg" alt=""></div>
        
    </header>